textarea{
  width: 400px;
  height: 80px;
  background-color: #fff;
  resize: none;
}

button {
  width: 80px;
  height: 30px;
  background-color: #282828;
  border: none;
  color: #fff;
  font-family: arial;
  font-weight: 400;
}
