footer{
    display: grid;
    margin-top: 20em;
    grid-template-columns: 50% 50%;
    height: auto;
    padding: 2em;
    background-color: #92EAA6;
    border-radius: 5px 5px 0 0;
}
.footer-related{
    border-top: solid 2px white;
    padding-left: 1em;
    padding-top: 1em;
}
.footer-section{
    border-top: solid 2px white;
    padding-top: 1em;
}