header{
    background: #92EAA6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.navbar {
    align-items: center;
    padding: 1em 2em 1em 2em;
    height: 60px;
    margin: auto;
    width: auto;
}
.headertitle{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.loginmain{
    border: 1pt solid black;
    text-align: center;
}
.logininfo{
    border: 1pt solid red;
}
