.columns{
    display: grid;
    padding-top: 0.5em;
    grid-template-columns: 50% 50%;
}
#subtopic-title{
    padding-top: 1.5em;
    text-align: center;
    font-size: 24pt;
}
.grid-container{
    background-color: white;
    padding: 0.5em;
}
.grid-header{
    text-align: center;
    background-color: #92EAA6;
    border-radius: 10px;
    padding: 0 1em;
    height: 65px;
    font-size: 18pt;
}
.left{
    display: grid;
    align-items: center;
}
.grid-entry {
    background: #EFEFEF;
    text-align: center;
    border-radius: 10px;
    padding: 0.1em 0;
    margin-top: 1em;
    height: auto;
    width: auto;
}
.grid-item{
    margin: 1em auto 1em auto;
    width: 95%;
    font-size: 15pt;
    border-radius: 10px;
    padding: 1em 0em 1em 0em;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.grid-item:hover{
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.center{
    display: grid;
    align-items: center;
    grid-template-columns: 25% 50% 25%;
}
.center button{
    outline: none;
    border-radius: 25px;
    padding: 0.25em;
    margin: auto;
}
