header{
    background: #92EAA6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.navbar{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
    vertical-align: middle;
    padding: 2em 0em 2em 0em;
    height: auto;
    margin: auto;
}
.account button{
    outline: none;
    border-radius: 25px;
    padding: 0.25em;
    margin: auto;
}
.searchbar{
    width: 100%;
}
.navbar input[type=text] {
    outline: none;
    border: none;
    padding: 0.175em 0em 0.175em 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url('');
    border-radius: 20px;
    font-size: 17pt;
    width: inherit;

}
.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: white;
    padding: 10px;
}
.columns{
    display: grid;
    padding-top: 3em;
    grid-template-columns: 25% 50% 25%;
}
.grid-entry {
    background: #EFEFEF;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em 0.25em 1em 0.25em;
    width: auto;
}
.grid-header{
    text-align: center;
    background-color: #92EAA6;
    border-radius: 10px;
    padding: 1em 0.25em 1em 0.25em;
    height: auto;
    font-size: 12pt;
}
.center{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.center button{
    outline: none;
    border-radius: 25px;
    padding: 0.25em;
    margin: auto;
}
.grid-item{
    margin: auto;
    width: 95%;
    font-size: 10pt;
    border-radius: 10px;
    padding: 1em 0em 1em 0em;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.grid-item:hover{
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

