.columns{
    display: grid;
    padding-top: 1em;
    grid-template-columns: 75% auto;
}
#keyword{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20pt;
    margin-left: 1em;
    font-weight: bolder;
}
#keyword img{
    height: 1em;
    width: 1em;
    padding-right: 10px;
}
.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: white;
    padding: 0.5em;
}
.grid-header{
    display: flex;
    justify-content: space-evenly;
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
    height: auto;
    font-size: 12pt;
}
.grid-entry {
    background: #EFEFEF;
    text-align: center;
    border-radius: 10px;
    margin-top: 1em;
    height: auto;
    width: auto;
}
.grid-item{
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 1em auto 1em auto;
    width: 95%;
    font-size: 15pt;
    border-radius: 10px;
    padding: 1em 0 1em 0;
    background-color: white;
}
.title{
    padding-left: 2em;
    text-align: left;
}
.about{
    font-size: 10pt;
}
a{
    text-decoration: none;
    color: black;
}
.grid-item:hover{
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.right button{
    outline: none;
    border-radius: 25px;
    background-color: #92EAA6;
    padding: 0.25em;
    margin: auto;
    color: black;
}
.right{
    padding-top: 1em;
}
input[type=submit]{
    background-color: #92EAA6;
    outline: none;
    border-radius: 25px;
    height: auto;
    padding: 0.25em 2em 0.25em 2em;
    color: black;
}
.no-results{
    padding: 1em 0 1em 0;
    font-size: 18pt;
}