#subtopic-title{
    padding-top: 1.5em;
    text-align: center;
    font-size: 24pt;
}
.columns{
    display: grid;
    padding-top: 0.5em;
    grid-template-columns: 25% 50% 25%;
}
.grid-container {
    background-color: white;
    padding: 0.5em;
}
.grid-header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #92EAA6;
    border-radius: 10px;
    padding: 0 1em;
    height: 65px;
    font-size: 18pt;
}
.grid-entry {
    background: #EFEFEF;
    text-align: center;
    border-radius: 10px;
    margin-top: 1em;
    padding: 0.1em 0;
    height: auto;
    width: auto;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto 1em auto;
    width: 95%;
    height: 90px;
    font-size: 15pt;
    border-radius: 10px;
    background-color: white;
}
h2{
    vertical-align: middle;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.grid-item:hover{
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about{
    padding: 1em 1em;
}
.about button{
    outline: none;
    border-radius: 15px;
    padding: 0.35em;
    margin: 2em auto 0;
    width: 25%;
    background-color: lightcyan;
}
.center{
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 7% 12% 35%;
}
.center button{
    outline: none;
    border-radius: 25px;
    padding: 0.35em;
    margin: auto;
    width: 80%;
}
#mysearch{
    width: 80%;
    margin: auto;
}
button:hover{
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.center form{
    margin: auto;
}
.post{
    display: grid;
    grid-template-columns: 10% 90%;
}
.grid-votes{
    display: grid;
    grid-template-rows: auto;
    border-radius: 10px;
    background-color: #92EAA6;
    height: 100%;
}
.grid-votes button{
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}
.grid-votes button:hover{
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
input[type=text] {
    outline: none;
    border: none;
    padding: 0.175em 0em 0.175em 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url('');
    border-radius: 20px;
    font-size: 12pt;
    width: inherit;
}
.grid-post{
    display: grid;
    grid-template-rows: auto;
    text-align: left;
    padding: 0 0 0 0.5em;
}
.post-title{
    text-align: left;
}
.post-title a button{
    background: transparent;
    border: none;
    font-size: 16pt;
    font-family: "Times New Roman";
}
.post-title a button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: lavender;
}
.post-data{
    display: grid;
    grid-template-columns: 16em auto;
    font-size: 11pt;
    padding-top: 0.25em;
}
#post-data-user a button{
    background: transparent;
    border: none;
}
#post-data-user a button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: lightblue;
}
.post-btn{
    text-align: left;
}
.post-btn a button{
    background: transparent;
    border: none;
}
.post-btn a button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #92EAA6;
}
.post-btn button{
    background: transparent;
    border: none;
}
.post-btn button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: lightcoral;
}
.top-comment{
    padding: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12pt;
}
